<h3>Jak by vypadala vaše půjčka? Jakou částku byste museli po roce zaplatit bance? Zadejte potřebné údaje do naší kalkulačky.</h3>

<p>Zadejte údaje o půjčce a zobrazí se vám kolik zaplatíte na úrocích:</p>
<p>
Částka:<div id="q3_input_castka" ></div><br/>
Úrok (v %): <div id="q3_input_procenta"></div><br />
<div id="q3-input-vypocti"></div>
</p>
<p><ins id="q3_ans"></ins></p>