body {
	
}

div.trakturek {
  text-align: center;
}

#header {
  text-align: center;
}

div.mrizka {
  text-align: center;
	padding-right: 5px;
	padding-left: 5px;
}

td.mrizka-cell {
  text-align: center;
	padding-right: 15px;
	padding-left: 15px;
}

table.mrizka-table {
  border: none;
}

div#q1-correct, div#q2-correct,div#q3-correct {
  color: blue;
}

div#q1-incorrect, div#q2-incorrect,div#q3-incorrect {
  color: red;
	font-style: italic;
}

h5.nadpis {
	text-align:center;
	font-weight: bolder;
}



.navi {
	text-align: center;
}

.navi-prev
{
 display: inline-block;
 /*background-image: url(/images/prev.gif); */

 border: 0px;
}

ul.two-column-column  {
	
	/*display: inline; */
	width: 10em;
	
    /*color: red; */
	
}

ul.two-column {
	
}
ul.two-column>li {
  	
	
}

.bulb {
	float: left;
	
}

.navi-next
{
	/*background-image: url(/images/next.gif); */
	display: inline-block;
	border: none;
	
}

.ani-over 
{
    /*border-style: solid;*/
	text-align:center;
	
}

div.standard {
	
}

p.nadpis>img, p.standard>img {
	float: left;
	padding: 2pt;
	margin-right: 5pt;
	background: white;
}

.poznamka{
	font-size: 7pt;
}

.table-ani{
	font-size: 8pt;
	
}

ul.superlist {
	/*width: 75%;*/
	
}

ul.superlist li span{
	/*width: 85px;
	text-align: left;
	display: table-cell; */
	
}

ul.superlist > li > div > div {
	
}
ul.superlist > li > div {
	
	
}
ul.superlist li{
	width: 25em;
	text-align: justify;
}

table.superlist td{
	text-align: justify;
}

table.superlist td ul {
	margin: 0 0 0 0;
	
}

 

div#IntRateCalc , div#PerCentCalc{
   margin:1em auto;
    border: 1px solid silver; 
    width: 97%;
    color:#6699CC;
    text-align: right;
}

div#PerCentCalc > table {
    text-align: right;
    width: 95%;
    
    
}

ol.alphalist {
    list-style-type: lower-alpha;
}
