
<div id="zadani">
  <!--<h5 class="nadpis"></h5>-->
  <p class="standard"><img src="/images/question-icon2.gif" /> Vypočítejte, kolik korun celkem a kolik korun navíc zaplatí klient bance při půjčce 150 000 Kč na 5 let? (údaje viz. tabulka)
</p>
</div>
ČSOB tabulka - vložit


<div id="zadani">
  <!--<h5 class="nadpis"></h5>-->
  <p class="standard"><img src="/images/question-icon2.gif" /> Odhadněte, jakou částku představuje 48,7 % z 200 000 Kč. Vyberte jednou z nabízených možností. Naznačte postup vaší úvahy.
  </p>
</div>  

<ol>
 <li> méně než 50 000 Kč</li>
 <li>méně než 100 000 Kč</li>
 <li>více než 100 000 Kč</li>
 <li>více než 200 000 Kč</li>
</ol>

<div id="zadani">
  <!--<h5 class="nadpis"></h5>-->
  <p class="standard"><img src="/images/question-icon2.gif" />Zita Běličková získala od banky úvěr  ve výši 500 000 Kč na koupi pozemku. Úvěr získala na dobu 2 let s roční úrokovou mírou 14 % a úrokovací dobou 1 rok. Úvěr splatí ve dvou stejných ročních slátkách 303 644,90 Kč. Vypočítejte, jakou částku navíc zaplatí Zita po 2 letech bance?
  </p>
</div>
  <br />

<div id="zadani">
  <!--<h5 class="nadpis"></h5>-->
  <p class="standard"><img src="/images/question-icon2.gif" /> Pan Mečoun si od společnosti poskytující hotovostní půjčky občanům půjčil 50 000 Kč na nákup osobního počítače. Vypočítejte, jakou částku navíc zaplatí po roce této společnosti při ročním úroku 17,2 %.
  </p>
</div>  