
<div id="zadani">
  <!--<h5 class="nadpis"></h5>-->
  <p class="standard"><img src="/images/question-icon2.gif" /> Vypočítejte, kolik korun celkem a kolik korun navíc zaplatí klient bance 
  při&nbsp;půjčce 150&nbsp;000&nbsp;Kč na&nbsp;5&nbsp;let? (údaje viz. tabulka)
</p>
</div>
<!--ČSOB tabulka - vložit-->
<p class="standard">

    <%= render :partial=>'splatky/tabulka_pujcka_csob' %>
    
<br />
</p>


<div id="zadani">
  <!--<h5 class="nadpis"></h5>-->
  <p class="standard"><img src="/images/question-icon2.gif" /> Odhadněte, jakou částku představuje 48,7&nbsp;% z&nbsp;200&nbsp;000&nbsp;Kč. 
  Vyberte jednou z&nbsp;nabízených možností. Naznačte postup vaší úvahy.
  </p>
</div>  

<ol class="alphalist">
 <li> méně než 50 000 Kč</li>
 <li>méně než 100 000 Kč</li>
 <li>více než 100 000 Kč</li>
 <li>více než 200 000 Kč</li>
</ol>

<div id="zadani">
  <!--<h5 class="nadpis"></h5>-->
  <p class="standard"><img src="/images/question-icon2.gif" class="high" />
  Zita Běličková si od banky půjčila 500&nbsp;000&nbsp;Kč na&nbsp;koupi pozemku. 
  Úvěr získala na dobu 2&nbsp;let s&nbsp;roční úrokovou mírou 14&nbsp;% a úrokovací dobou 1&nbsp;rok. 
  Úvěr splatí ve dvou stejných ročních splátkách ve&nbsp;výši  303&nbsp;644,90&nbsp;Kč.<br /> 
  Vypočítejte, jakou částku navíc zaplatí Zita po&nbsp;2&nbsp;letech bance?
  </p>
</div>
  <br />

<div id="zadani">
  <!--<h5 class="nadpis"></h5>-->
  <p class="standard"><img src="/images/question-icon2.gif" /> Pan Mečoun si od&nbsp;společnosti poskytující hotovostní půjčky občanům 
  půjčil 50&nbsp;000&nbsp;Kč na&nbsp;nákup osobního počítače. 
  Vypočítejte, jakou částku navíc zaplatí po&nbsp;roce této společnosti při ročním úroku 17,2&nbsp;%.
  </p>
</div>  
