<div class="trakturek">
	<img src="/images/trakturek1.gif"/></div>

<table border="1" class="mrizka">
<% 0.step(9) do |x| %>
  <tr>
  	<% 0.step(9) do |y| %>
  	<td>.</td>
		<% end %>
  </tr>
<% end %>
</table>
<br />
